.about {
  background: white;
  color: black;
}

.about-block {
  min-height: 85vh;
  padding: 0 2rem;
  max-width: 900px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-block h2 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

.about-block p {
  max-width: 520px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: #38465d;
}

/* Slightly stronger opening statement */
.about-block.intro h2 {
  font-size: 3.8rem;
}